%h1.page-header
  Editing
  %small
    = @species_family.name

= render 'form'

= link_to 'Edit', edit_species_family_path(@species_family), class: "btn btn-primary"

= link_to 'Back', species_families_path, class: "btn btn-default"
