%h1.page-header
  Editing
  %small
    Community Growth Form
.col-lg-10
  = render 'form'
  = link_to 'Show', @community_growth_form, class: "btn btn-primary"
  = link_to 'Back', community_growth_forms_path, class: "btn btn-default"
