%h1.page-header
  Editing
  %small
    Report Community
.col-lg-10
  = render 'form'
  = link_to 'Show', @report_community, class: "btn btn-primary"
  = link_to 'Back', report_communities_path, class: "btn btn-default"
