%h1.page-header
  Reporting
%h2.page-header
  %small
    Project report
  = link_to '<i class="fa fa-plus"></i> New Project Report'.html_safe, new_project_report_path, class: "btn btn-success pull-right"
