-# OLD= f.select(:description, [['G','Grasses'],['D','Dwarf Shrubs'],['F','Forbs'],['T','Trees'],['S','Shrubs']])
= f.select(:code, [['Grasses','G'],['Dwarf Shrubs','D'],['Forbs','F'],['Trees','T'],['Shrubs','S']])
