%li
  %a{"data-target" => "#projects", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-files-o
    Projects
    %i.fa.fa-fw.fa-caret-down
  %ul#projects.collapse
    %li
      =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_project_path
    %li
      =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe, projects_path
%li
  %a{"data-target" => "#field_data", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-database
    Field Data
    %i.fa.fa-fw.fa-caret-down
  %ul#field_data.collapse
    %li
      =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_field_datum_path
    %li
      =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe, field_data_path
%li
  %a{"data-target" => "#species_family", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-globe
    Spieces Family
    %i.fa.fa-fw.fa-caret-down
  %ul#species_family.collapse
    %li
      =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_species_family_path
    %li
      =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe,  species_families_path
%li
  %a{"data-target" => "#species", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-pagelines
    Speices
    %i.fa.fa-fw.fa-caret-down
  %ul#species.collapse
    %li
      =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_species_path
    %li
      =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe,  species_index_path
%li
  %a{"data-target" => "#communities", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-users
    Communities
    %i.fa.fa-fw.fa-caret-down
  %ul#communities.collapse
    %li
      =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_community_path
    %li
      =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe, communities_path
%li
  %a{"data-target" => "#report", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-file-text-o
    Reports
    %i.fa.fa-fw.fa-caret-down
  %ul#report.collapse
    %li
      =link_to 'Community growth report'.html_safe, new_community_cover_report_path
    %li
      =link_to 'Community composition report'.html_safe, new_community_composition_report_path
    %li
      =link_to 'Species report'.html_safe, create_species_report_path
%li
  %a{"data-target" => "#imports", "data-toggle" => "collapse", :href => "javascript:;"}
    %i.fa.fa-file-text-o
    Exports
    %i.fa.fa-fw.fa-caret-down
  %ul#report.collapse
    %li
      =link_to 'Companies'.html_safe, export_companies_path
    %li
      =link_to 'Projects'.html_safe, export_projects_path
    %li
      =link_to 'Field Data'.html_safe, export_field_data_path
    %li
      =link_to 'Observations'.html_safe, export_observations_path
    %li
      =link_to 'Growth forms'.html_safe, export_groth_forms_path
    %li
      =link_to 'Crown Diameter'.html_safe, export_crown_diameter_path
    %li
      =link_to 'Plant Count'.html_safe, export_plant_count_path  
